QUIZ
%p

- @questions.each do |question|
    = question.order.to_s + '.'
    = question.text
    %br
    %li
        %ul
            - if question.pic.exists?
                = image_tag question.pic.url, size: '100x100'
    - if question.multiple_choice
        / get answer here use to place select tag
        - if a = User.find(@user.id).answers.find_by_question_id(question.id)
            - answer = a.choice
        - else
            - answer = 'z'

        %li
            - if question.a
                %ul
                    = radio_button_tag question.id.to_s, 'a', answer == 'a', onclick: "choose('#{@user.id}' , '#{question.id}', 'a')"
                    A.
                    = question.a
            - if question.b
                %ul
                    = radio_button_tag question.id.to_s, 'b', answer == 'b', onclick: "choose('#{@user.id}' , '#{question.id}', 'b')"
                    B. 
                    = question.b
            - if question.b
                %ul
                    = radio_button_tag question.id.to_s, 'c', answer == 'c', onclick: "choose('#{@user.id}' , '#{question.id}', 'c')"
                    C.
                    = question.c
            - if question.b
                %ul
                    = radio_button_tag question.id.to_s, 'd', answer == 'd', onclick: "choose('#{@user.id}' , '#{question.id}', 'd')"
                    D.
                    = question.d
    %p
    %br
    %br